# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/dist

# 为测试环境打包编译生成的内容
test 
# 为生产环境打包编译生存的内容
prod

# misc
.DS_Store
npm-debug.log*
