.dynamic-delete-button {
  cursor: pointer;
  position: absolute;
  top: 4px;
  margin-left: 8px;
  font-size: 24px;
  color: #999;
  transition: all .3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.finance-head {
  border-bottom: 1px dashed #ccc;
}
.finance-group {
  position: relative;
  margin-bottom: 24px;
  border-bottom: 1px dashed #ccc;
}
.finance-group:last-child {
  position: relative;
  margin-bottom: 0;
  border-bottom: none;
}
.finance-delete-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.link:hover {
  text-decoration: underline;
}
