.current-row {
    background: #fafafa;
}
.create-comment-icon {
    color: #339bd2;
}
.create-comment-icon:hover {
    color: #59b4de;
}
.icon-modal-operation {
    color: gray;
}
.icon-modal-operation:hover {
    color: black;
}
