/* 覆盖 AntDesign 样式 */


/* Input */
.ant-input:active, .ant-input:focus {
  border-color: #999;
  box-shadow: 3px 3px 0 rgba(12,12,12,0.05)!important; /* 使任何状态的 input 的 box-shadow 相同 */
}

.ant-form-item-required:before {
  color: #D9534F;
}


/* Select */
.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
  border-color: #999;
  outline: 0;
  box-shadow: 3px 3px 0 rgba(12,12,12,0.05)!important;
}

/* Cascader */
.ant-cascader-picker:focus .ant-cascader-input {
  border-color: #999;
  outline: 0;
  box-shadow: 3px 3px 0 rgba(12,12,12,0.05)!important;
}
