<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>多维海拓 Investarget</title>
    <link rel="shortcut icon" href="/static/image/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css" />
    <style>
    p, h3 {
        margin: 0;
    }
    .info-container {
        overflow: auto;
        line-height: 20px;
        font-family: sans-serif;
        font-size: 14px;
        color: black;
    }
    .info-label {
        float: left;
        width: 100px;
        text-align: right;
        font-weight: 600;
    }
    .info-content, .detail-content {
        font-size: 13px;
        font-weight: 100;
    }
    .detail-label {
        font-weight: 600;
        margin: 10px 0;
        font-size: 15px;
        line-height: 32px;
        padding-left: 10px;
        border-left: 2px solid rgb(0, 95, 175);
    }
    .info-content {
        margin-left: 120px;
    }
    .detail-content {
        margin-left: 10px;
        line-height: 1.6;
    }
    </style>
</head>
<body style="margin: 0">
    <div class="ant-layout">
        <div class="ant-layout-content" style="background: rgb(255, 255, 255);margin: 0px; min-height: 280px;">
            
            <div style="padding-left: 20px; background: rgb(0, 95, 175); color: white; line-height: 84px">
                <h1 style="margin: 0;font-family: sans-serif;font-size: 24px;font-weight: 200">{{ project.projtitleC }}</h1>
            </div>

            <div style="padding: 20px">

            <div style="overflow: auto">
            
                <div style="float: left">

                    <div class="info-container">
                        <div class="info-label">交易类型</div>
                        <div class="info-content">{{ project.transactionType.0.nameC }}</div>
                    </div>

                    <div class="info-container">
                        <div class="info-label">行业</div>
                        <div class="info-content">{{ project.industries.0.nameC }}</div>
                    </div>

                    <div class="info-container">
                        <div class="info-label">地区</div>
                        <div class="info-content">{{ project.country.countryC }}</div>
                    </div>

                    <div class="info-container">
                        <div class="info-label">交易规模</div>
                        <div class="info-content">USD {{ project.financeAmount_USD }}</div>
                    </div>

                    <div class="info-container">
                        <div class="info-label">公司估值</div>
                        <div class="info-content">USD {{ project.companyValuation_USD }}</div>
                    </div>
                    
                    <div class="info-container">
                        <div class="info-label">项目负责人</div>
                        <div class="info-content">{{ project.contactPerson }}</div>
                    </div>

                    <div class="info-container">
                        <div class="info-label">手机</div>
                        <div class="info-content">{{ project.phoneNumber }}</div>
                    </div>

                    <div class="info-container">
                        <div class="info-label">邮箱</div>
                        <div class="info-content">{{ project.email }}</div>
                    </div>

                   
                    <!-- 
                    <div class="info-container">
                        <div class="info-label">我的角色</div>
                        <div class="info-content">{{ project.character.characterC }} </div>
                    </div>
                    -->

                </div>
            
                <div style="position: relative;float: right">
                    <img src="{{ project.industries.0.url }}" style="width: 320px; height: 180px;">
                    <div style="position: absolute;top: 4px;left: 10px">
                        {% for tag in project.tags %}
                        <div data-show="true" class="ant-tag ant-tag">
                            <span class="ant-tag-text" style="font-weight: 100">{{ tag.nameC }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            
            </div>

            <div class="detail-container">
                <h3 class="detail-label">项目简介</h2>
                <p class="detail-content">{{ project.p_introducteC }}</p>
            </div>

            {% if project.targetMarketC != None %}
            <div class="detail-container">
                <h3 class="detail-label">目标市场</h3>
                <p class="detail-content">{{ project.targetMarketC }}</p>
            </div>
            {%  endif %}

            {% if project.productTechnologyC != None %}
            <div class="detail-container">
                <h3 class="detail-label">核心产品</h3>
                <p class="detail-content">{{ project.productTechnologyC }}</p>
            </div>
            {% endif %}

            {% if project.businessModelC != None %}
            <div class="detail-container">
                <h3 class="detail-label">商业模式</h3>
                <p class="detail-content">{{ project.businessModelC }}</p>
            </div>
            {% endif %}

            {% if project.brandChannelC != None %}
            <!-- <div class="detail-container">
                <h3 class="detail-label">品牌渠道</h3>
                <p class="detail-content">{{ project.brandChannelC }}</p>
            </div> -->
            {%  endif %}

            {% if project.managementTeamC != None %}
            <!-- <div>
                <h3>管理团队</h3>
                <p>{{ project.managementTeamC }}</p>
            </div> -->
            {%  endif %}

            {% if project.BusinesspartnersC != None %}
            <!-- <div>
                <h3>商业伙伴</h3>
                <p>{{ project.BusinesspartnersC }}</p>
            </div> -->
            {%  endif %}

            {% if project.useOfProceedC != None %}
            <!-- <div>
                <h3>资金用途</h3>
                <p>{{ project.useOfProceedC }}</p>
            </div> -->
            {%  endif %}

            {% if project.financingHistoryC != None %}
            <!-- <div>
                <h3>融资历史</h3>
                <p>{{ project.financingHistoryC }}</p>
            </div> -->
            {%  endif %}
            
            {% if project.operationalDataC != None %}
            <!-- <div>
                <h3>经营数据</h3>
                <p>{{ project.operationalDataC }}</p>
            </div> -->
            {%  endif %}


                <div>
                    <h3 class="detail-label">财务数据</h3>
                
                    <div style="display: flex;">
                        <div style="font-weight: bolder">USD</div>
                        {% for item in finance %}
                        <div>$ {{ item.fYear }}</div>
                        {% endfor %}
                    </div>

                    <div style="height: 2px;background: rgb(0, 95, 175);"></div>
                
                    <div style="display: flex">
                        <div style="font-weight: bolder">营业收入</div>
                        {% for item in finance %}
                        <div>$ {{ item.revenue_USD }}</div>
                        {% endfor %}
                    </div>
                
                    <!-- <div style="display: flex;"><span style="width: 150px;">净利润(美元)</span><span>$ {{ item.netIncome_USD }}</span></div>
                                                <div style="display: flex;"><span style="width: 150px;">毛利润(美元)</span><span>$ {{ item.grossProfit }}</span></div>
                                                <div style="display: flex;"><span style="width: 150px;">总资产(美元)</span><span>$ {{ item.totalAsset }}</span></div>
                                                <div style="display: flex;"><span style="width: 150px;">净资产(美元)</span><span>$ {{ item.stockholdersEquity }}</span></div>
                                                <div style="display: flex;"><span style="width: 150px;">净现金流(美元)</span><span>$ {{ item.grossMerchandiseValue }}</span></div>
                                                <div style="display: flex;"><span style="width: 150px;">经营性现金流(美元)</span><span>$ {{ item.operationalCashFlow }}</span></div>
                                                <div style="display: flex;"><span style="width: 150px;">息税折旧摊销前利润(美元)</span><span>$ {{ item.EBITDA }}</span></div> -->
                
                                                <div style="height: 1px;background: rgb(0, 95, 175);"></div>
                                            </div>

        </div>
</div>
    </div>
</body>

</html>
