<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>多维海拓 Investarget</title>
    <link rel="shortcut icon" href="/static/image/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css" />
    <style>
    body {
        font-family: sans-serif;
    }
    td {
        text-align: center;
    }
    p, h3 {
        margin: 0;
    }
    .info-container {
        overflow: auto;
        line-height: 20px;
        font-family: sans-serif;
        font-size: 14px;
        color: black;
    }
    .info-label {
        float: left;
        width: 100px;
        text-align: right;
        font-weight: 600;
    }
    .info-content, .detail-content {
        font-size: 13px;
        font-weight: 100;
    }
    .detail-label {
        font-weight: 600;
        margin: 10px 0;
        font-size: 15px;
        line-height: 32px;
        padding-left: 10px;
        border-left: 2px solid rgb(0, 95, 175);
    }
    .info-content {
        margin-left: 120px;
    }
    .detail-content {
        margin-left: 10px;
        line-height: 1.6;
    }
    .even {
        background: rgb(241, 241, 241);
    }
    .finance-value {
        font-weight: 100;
    }
    .finance-label {
        font-weight: 600;
    }
    </style>
</head>
<body style="margin: 0">
    <div style="width: 773px;height: 1096px;overflow: hidden;position: relative;" class="ant-layout">
            
        <div style="padding-left: 20px; background: rgb(0, 95, 175); color: white; line-height: 84px">
            <h1 style="margin: 0;font-family: sans-serif;font-size: 24px;font-weight: 300">{{ project.projtitleC }}</h1>
        </div>

        <div style="padding: 20px">

            <div style="overflow: auto">
            
                <div style="float: left">

                    <div class="info-container">
                        <div class="info-label">交易类型</div>
                        <div class="info-content">{{ project.transactionType.0.nameC }}</div>
                    </div>

                    <div class="info-container">
                        <div class="info-label">行业</div>
                        <div class="info-content">{{ project.industries.0.nameC }}</div>
                    </div>

                    <div class="info-container">
                        <div class="info-label">地区</div>
                        <div class="info-content">{{ project.country.countryC }}</div>
                    </div>

                    <div class="info-container">
                        <div class="info-label">交易规模</div>
                        <div class="info-content">USD {{ project.financeAmount_USD }}</div>
                    </div>

                    <div class="info-container">
                        <div class="info-label">公司估值</div>
                        <div class="info-content">USD {{ project.companyValuation_USD }}</div>
                    </div>
                    
                    <div class="info-container">
                        <div class="info-label">项目负责人</div>
                        <div class="info-content">{{ project.contactPerson }}</div>
                    </div>

                    <div class="info-container">
                        <div class="info-label">手机</div>
                        <div class="info-content">{{ project.phoneNumber }}</div>
                    </div>

                    <div class="info-container">
                        <div class="info-label">邮箱</div>
                        <div class="info-content">{{ project.email }}</div>
                    </div>

                   
                    <!-- 
                    <div class="info-container">
                        <div class="info-label">我的角色</div>
                        <div class="info-content">{{ project.character.characterC }} </div>
                    </div>
                    -->

                </div>
            
                <div style="position: relative;float: right">
                    <img src="{{ project.industries.0.url }}" style="width: 320px; height: 180px;">
                    <div style="position: absolute;top: 4px;left: 10px">
                        {% for tag in project.tags %}
                        <div data-show="true" class="ant-tag ant-tag">
                            <span class="ant-tag-text" style="font-weight: 100">{{ tag.nameC }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            
            </div>

            <div id="project-intro" class="detail-container">
                <h3 class="detail-label">项目简介</h2>
                <p class="detail-content">{{ project.p_introducteC|safe }}</p>
            </div>

            {% if project.targetMarketC != None %}
            <div id="target-market" class="detail-container">
                <h3 class="detail-label">目标市场</h3>
                <p id="targetMarket" class="detail-content">
                    {{ project.targetMarketC }}
                </p>
            </div>
            {%  endif %}

            {% if project.productTechnologyC != None %}
            <div id="core-product" class="detail-container">
                <h3 class="detail-label">核心产品</h3>
                <p id="productTechnology" class="detail-content">{{ project.productTechnologyC }}</p>
            </div>
            {% endif %}

            {% if project.businessModelC != None %}
            <div id="business-mode" class="detail-container">
                <h3 class="detail-label">商业模式</h3>
                <p id="businessModel" class="detail-content">{{ project.businessModelC }}</p>
            </div>
            {% endif %}

            {% if project.brandChannelC != None %}
            <!-- <div class="detail-container">
                <h3 class="detail-label">品牌渠道</h3>
                <p class="detail-content">{{ project.brandChannelC }}</p>
            </div> -->
            {%  endif %}

            {% if project.managementTeamC != None %}
            <!-- <div>
                <h3>管理团队</h3>
                <p>{{ project.managementTeamC }}</p>
            </div> -->
            {%  endif %}

            {% if project.BusinesspartnersC != None %}
            <!-- <div>
                <h3>商业伙伴</h3>
                <p>{{ project.BusinesspartnersC }}</p>
            </div> -->
            {%  endif %}

            {% if project.useOfProceedC != None %}
            <!-- <div>
                <h3>资金用途</h3>
                <p>{{ project.useOfProceedC }}</p>
            </div> -->
            {%  endif %}

            {% if project.financingHistoryC != None %}
            <!-- <div>
                <h3>融资历史</h3>
                <p>{{ project.financingHistoryC }}</p>
            </div> -->
            {%  endif %}
            
            {% if project.operationalDataC != None %}
            <!-- <div>
                <h3>经营数据</h3>
                <p>{{ project.operationalDataC }}</p>
            </div> -->
            {%  endif %}


                <div id="finance-data">
                    <h3 class="detail-label">财务数据</h3>
                    
                    <table style="width: 100%;border-collapse: collapse;font-size: 13px">

                        <thead>
                            <tr>
                            <th style="width: 25%">USD</th>
                            {% for item in finance %}
                            <th>{{ item.fYear }}</th>
                            {% endfor %}
                            <tr>
                        </thead>

                        <tbody style="border: 1px solid rgb(0, 95, 175);border-left: none;border-right: none">
                            <tr>
                            <td class="finance-label">营业收入</td>
                            {% for item in finance %}
                            {% if item.revenue_USD %}
                            <td class="finance-value">{{ item.revenue_USD }}</td>
                            {% else %}
                            <td class="finance-value">N/A</td>
                            {% endif %}
                            {% endfor %}
                            </tr>

                            <tr class="even">
                            <td class="finance-label">毛利润</td>
                            {% for item in finance %}
                              {% if item.grossProfit %}
                              <td class="finance-value">{{ item.grossProfit }}</td>
                              {% else %}
                              <td class="finance-value">N/A</td>
                              {% endif %}
                            {% endfor %}
                            </tr>

                        <tr>
                            <td class="finance-label">EBITDA</td>
                            {% for item in finance %} {% if item.EBITDA %}
                            <td class="finance-value">{{ item.EBITDA }}</td>
                            {% else %}
                            <td class="finance-value">N/A</td>
                            {% endif %} {% endfor %}
                        </tr>

                        <tr class="even">
                            <td class="finance-label">净利润</td>
                            {% for item in finance %} {% if item.netIncome_USD %}
                            <td class="finance-value">{{ item.netIncome_USD }}</td>
                            {% else %}
                            <td class="finance-value">N/A</td>
                            {% endif %} {% endfor %}
                        </tr>

                        <tr>
                            <td class="finance-label">总资产</td>
                            {% for item in finance %} {% if item.totalAsset %}
                            <td class="finance-value">{{ item.totalAsset }}</td>
                            {% else %}
                            <td class="finance-value">N/A</td>
                            {% endif %} {% endfor %}
                        </tr>

                        <tr class="even">
                            <td class="finance-label">净资产</td>
                            {% for item in finance %} {% if item.stockholdersEquity %}
                            <td class="finance-value">{{ item.stockholdersEquity }}</td>
                            {% else %}
                            <td class="finance-value">N/A</td>
                            {% endif %} {% endfor %}
                        </tr>

                        <tr>
                            <td class="finance-label">经营性现金流</td>
                            {% for item in finance %} {% if item.operationalCashFlow %}
                            <td class="finance-value">{{ item.operationalCashFlow }}</td>
                            {% else %}
                            <td class="finance-value">N/A</td>
                            {% endif %} {% endfor %}
                        </tr>

                        <tr class="even">
                            <td class="finance-label">净现金流</td>
                            {% for item in finance %} {% if item.grossMerchandiseValue %}
                            <td class="finance-value">{{ item.grossMerchandiseValue }}</td>
                            {% else %}
                            <td class="finance-value">N/A</td>
                            {% endif %} {% endfor %}
                        </tr>
                        </tbody>

                    </table>

                    
                
                </div>

        </div>

        <div style="height: 40px;position: absolute;bottom: 0;border-top: 1px solid rgb(0, 95, 175);">
            <div style="margin-top: 4px;margin-left: 20px;width: 200px;float: left;"><img style="height: 28px;" src="/static/image/new-logo.png" /></div>
            <div style="margin-left: 220px;margin-top: 8px;margin-right: 20px;color: #666;font-size: 10px;font-weight: 100;">This information is confidential and was prepared by InvesTarget solely for the use of our client; it is not to be relied on by any 3rd party without Investarget's prior written consent</div>
        </div>

    </div>


    <div id="page-container-1" style="width: 773px;height: 1096px;overflow: hidden;display: none;position: relative;" class="ant-layout">
    
        <div style="padding-left: 20px; background: rgb(0, 95, 175); color: white; line-height: 84px">
            <h1 style="margin: 0;font-family: sans-serif;font-size: 24px;font-weight: 300">{{ project.projtitleC }}</h1>
        </div>
    
        <div id="page-1" style="padding: 20px">
    
            <div style="overflow: auto">
    
                <div style="float: left">
    
                    <div class="info-container">
                        <div class="info-label">交易类型</div>
                        <div class="info-content">{{ project.transactionType.0.nameC }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">行业</div>
                        <div class="info-content">{{ project.industries.0.nameC }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">地区</div>
                        <div class="info-content">{{ project.country.countryC }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">交易规模</div>
                        <div class="info-content">USD {{ project.financeAmount_USD }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">公司估值</div>
                        <div class="info-content">USD {{ project.companyValuation_USD }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">项目负责人</div>
                        <div class="info-content">{{ project.contactPerson }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">手机</div>
                        <div class="info-content">{{ project.phoneNumber }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">邮箱</div>
                        <div class="info-content">{{ project.email }}</div>
                    </div>
    
    
                    <!-- 
                        <div class="info-container">
                            <div class="info-label">我的角色</div>
                            <div class="info-content">{{ project.character.characterC }} </div>
                        </div>
                        -->
    
                </div>
    
                <div style="position: relative;float: right">
                    <img src="{{ project.industries.0.url }}" style="width: 320px; height: 180px;">
                    <div style="position: absolute;top: 4px;left: 10px">
                        {% for tag in project.tags %}
                        <div data-show="true" class="ant-tag ant-tag">
                            <span class="ant-tag-text" style="font-weight: 100">{{ tag.nameC }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
    
            </div>
    
    
    
        </div>

        <div style="height: 40px;position: absolute;bottom: 0;border-top: 1px solid rgb(0, 95, 175);">
            <div style="margin-top: 4px;margin-left: 20px;width: 200px;float: left;"><img style="height: 28px;" src="/static/image/new-logo.png" /></div>
            <div style="margin-left: 220px;margin-top: 8px;margin-right: 20px;color: #666;font-size: 10px;font-weight: 100;">This information is confidential and was prepared by InvesTarget solely for the use of our client; it is not to be relied on by any 3rd party without Investarget's prior written consent</div>
        </div>

    </div>

    <div id="page-container-2" style="width: 773px;height: 1096px;overflow: hidden;display: none;position: relative;" class="ant-layout">
    
        <div style="padding-left: 20px; background: rgb(0, 95, 175); color: white; line-height: 84px">
            <h1 style="margin: 0;font-family: sans-serif;font-size: 24px;font-weight: 300">{{ project.projtitleC }}</h1>
        </div>
    
        <div id="page-2" style="padding: 20px">
    
            <div style="overflow: auto">
    
                <div style="float: left">
    
                    <div class="info-container">
                        <div class="info-label">交易类型</div>
                        <div class="info-content">{{ project.transactionType.0.nameC }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">行业</div>
                        <div class="info-content">{{ project.industries.0.nameC }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">地区</div>
                        <div class="info-content">{{ project.country.countryC }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">交易规模</div>
                        <div class="info-content">USD {{ project.financeAmount_USD }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">公司估值</div>
                        <div class="info-content">USD {{ project.companyValuation_USD }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">项目负责人</div>
                        <div class="info-content">{{ project.contactPerson }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">手机</div>
                        <div class="info-content">{{ project.phoneNumber }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">邮箱</div>
                        <div class="info-content">{{ project.email }}</div>
                    </div>
    
    
                    <!-- 
                        <div class="info-container">
                            <div class="info-label">我的角色</div>
                            <div class="info-content">{{ project.character.characterC }} </div>
                        </div>
                        -->
    
                </div>
    
                <div style="position: relative;float: right">
                    <img src="{{ project.industries.0.url }}" style="width: 320px; height: 180px;">
                    <div style="position: absolute;top: 4px;left: 10px">
                        {% for tag in project.tags %}
                        <div data-show="true" class="ant-tag ant-tag">
                            <span class="ant-tag-text" style="font-weight: 100">{{ tag.nameC }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
    
            </div>
    
    
    
        </div>

        <div style="height: 40px;position: absolute;bottom: 0;border-top: 1px solid rgb(0, 95, 175);">
            <div style="margin-top: 4px;margin-left: 20px;width: 200px;float: left;"><img style="height: 28px;" src="/static/image/new-logo.png" /></div>
            <div style="margin-left: 220px;margin-top: 8px;margin-right: 20px;color: #666;font-size: 10px;font-weight: 100;">This information is confidential and was prepared by InvesTarget solely for the use of our client; it is not to be relied on by any 3rd party without Investarget's prior written consent</div>
        </div>

    </div>

    <div id="page-container-3" style="width: 773px;height: 1096px;overflow: hidden;display: none;position: relative;" class="ant-layout">
    
        <div style="padding-left: 20px; background: rgb(0, 95, 175); color: white; line-height: 84px">
            <h1 style="margin: 0;font-family: sans-serif;font-size: 24px;font-weight: 300">{{ project.projtitleC }}</h1>
        </div>
    
        <div id="page-3" style="padding: 20px">
    
            <div style="overflow: auto">
    
                <div style="float: left">
    
                    <div class="info-container">
                        <div class="info-label">交易类型</div>
                        <div class="info-content">{{ project.transactionType.0.nameC }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">行业</div>
                        <div class="info-content">{{ project.industries.0.nameC }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">地区</div>
                        <div class="info-content">{{ project.country.countryC }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">交易规模</div>
                        <div class="info-content">USD {{ project.financeAmount_USD }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">公司估值</div>
                        <div class="info-content">USD {{ project.companyValuation_USD }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">项目负责人</div>
                        <div class="info-content">{{ project.contactPerson }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">手机</div>
                        <div class="info-content">{{ project.phoneNumber }}</div>
                    </div>
    
                    <div class="info-container">
                        <div class="info-label">邮箱</div>
                        <div class="info-content">{{ project.email }}</div>
                    </div>
    
    
                    <!-- 
                        <div class="info-container">
                            <div class="info-label">我的角色</div>
                            <div class="info-content">{{ project.character.characterC }} </div>
                        </div>
                        -->
    
                </div>
    
                <div style="position: relative;float: right">
                    <img src="{{ project.industries.0.url }}" style="width: 320px; height: 180px;">
                    <div style="position: absolute;top: 4px;left: 10px">
                        {% for tag in project.tags %}
                        <div data-show="true" class="ant-tag ant-tag">
                            <span class="ant-tag-text" style="font-weight: 100">{{ tag.nameC }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
    
            </div>
    
    
    
        </div>

        <div style="height: 40px;position: absolute;bottom: 0;border-top: 1px solid rgb(0, 95, 175);">
            <div style="margin-top: 4px;margin-left: 20px;width: 200px;float: left;"><img style="height: 28px;" src="/static/image/new-logo.png" /></div>
            <div style="margin-left: 220px;margin-top: 8px;margin-right: 20px;color: #666;font-size: 10px;font-weight: 100;">This information is confidential and was prepared by InvesTarget solely for the use of our client; it is not to be relied on by any 3rd party without Investarget's prior written consent</div>
        </div>

    </div>

    <script type="text/javascript"> 
        var targetMarket = "{{ project.targetMarketC|escapejs }}";
        targetMarket = targetMarket.replace(/\n/g, '<br/>')
        document.getElementById('targetMarket').innerHTML = targetMarket;

        var productTechnology = "{{ project.productTechnologyC|escapejs }}";
        productTechnology = productTechnology.replace(/\n/g, '<br/>')
        document.getElementById('productTechnology').innerHTML = productTechnology;

        var businessModel = "{{ project.businessModelC|escapejs }}";
        businessModel = businessModel.replace(/\n/g, '<br/>')
        document.getElementById('businessModel').innerHTML = businessModel;

        var sections = ['project-intro', 'target-market', 'core-product', 'business-mode', 'finance-data'];
        var page = 0;
        for (var a = 0; a < sections.length; a++) {
            var element = document.getElementById(sections[a]);
            if (element.offsetTop + element.offsetHeight > 1096 - 40 - 20) {
                page++;
                document.getElementById('page-container-' + page).style.display = 'block';
                for (var b = a; b < sections.length; b++) {
                    var old = document.getElementById(sections[b]);
                    document.getElementById('page-' + page).appendChild(old);
                }
            }
        }

     </script>
</body>

</html>
