.bd-status-1 {
  background: #ffff99;
}
.bd-status-2, .bd-status-7, .bd-status-8, .bd-status-9, .bd-status-10, .bd-status-11, .bd-status-12, .bd-status-13, .bd-status-14 {
  background: rgb(215, 179, 155);
}
.bd-status-3 {
  background: rgb(196, 207, 190);
}
.bd-status-4 {
  background: rgb(193, 204, 210);
}
.bd-status-5 {
  background: rgb(200, 200, 200);
}
.bd-status-6 {
  background: #999;
}
.icon-modal-operation {
  color: gray;
}
.icon-modal-operation:hover {
  color: black;
}