.container {
  padding: 32px;
}
.title {
  font-size: 24px;
  text-align: center;
  line-height: 2;
  margin-bottom: 32px;
}

.content {
  margin: 0 auto;
  width: 640px;
  height: auto;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 32px;
}

.user {
  position: relative;
  text-align: center;
  padding: 8px;
  margin: 8px;
  float: left;
  cursor: pointer;
}
.userHead {
  width: 80px;
  height: 80px;
}
.userName {
  font-size: 16px;
}
.userTitle {
  font-size: 12px;
}
.userCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}
.userCoverWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.userCoverIcon {
  font-size: 60px;
  color: #fff;
}

.actions {
  text-align: center;
}

.action {
  margin-left: 8px;
  margin-right: 8px;
}
