.list {
  outline: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  overflow: auto;
  line-height: 1.5;
}
.item {
  position: relative;
  display: block;
  min-height: 32px;
  padding: 7px 8px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  overflow: hidden;
  transition: background 0.3s ease;
}
.item:hover {
  background-color: #ecf6fd;
}
