.container {
  padding: 32px;
}
.title {
  font-size: 24px;
  text-align: center;
  line-height: 2;
  margin-bottom: 32px;
}

.content {
  margin: 0 auto;
  width: 640px;
  height: auto;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 32px;
}
.card {
  position: relative;
  float: left;
  width: 240px;
  cursor: pointer;
  margin-right: 16px;
  margin-bottom: 16px;
  background-color: #fafafa;
}
.cardBody {
  padding: 0;
}
.cardContent {
  position: relative;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cardDetail {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  padding: 8px;
  font-weight: 400;
  background-color: rgba(255,255,255,.9);
  transition: height 200ms ease-out;
  overflow: auto;
  user-select: none;
  -webkit-user-select: none;
}
.cardTitle {
  margin-bottom: 8px;
}

.cardCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}
.cardCoverWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cardCoverIcon {
  font-size: 60px;
  color: #fff;
}

.actions {
  text-align: center;
}

.action {
  margin-left: 8px;
  margin-right: 8px;
}
