
html, body, :global(#root) {
  height: 100%;
}

:global(.clearfix:before), :global(.clearfix:after) {
  content: " ";
  display: table;
}
:global(.clearfix:after) {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}

:global(.ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after) {
  display: none;
}

:global(.other-talk-bubble:before) {
  content: "";
  position: absolute;
  right: 100%;
  top: 10px;
  width: 0;
  height: 0;

  border-top: 4px solid transparent;
  border-right: 6px solid white;
  border-bottom: 4px solid transparent;
}
:global(.my-talk-bubble:after) {
  content: "";
  position: absolute;
  left: 100%;
  top: 10px;
  width: 0;
  height: 0;

  border-top: 4px solid transparent;
  border-left: 6px solid rgb(229, 243, 253);
  border-bottom: 4px solid transparent;
}
:global(.ant-input) {
  line-height: 1.5;
}
:global(th) {
  white-space: nowrap;
}


:global .span-title {
  display: inline-block;
  max-width: 200px;
}
:global .span-operation {
  display: inline-block;
  max-width: 240px;
}
:global .span-phase {
  display: inline-block;
  max-width: 150px;
  word-break: keep-all;
}
:global .span-tag {
  display: inline-block;
  max-width: 150px;
  word-break: keep-all;
}

:global .span-operation > button,:global .span-operation > a {
  margin-right: 4px;
  margin-bottom: 4px;
  display: inline-block;
}

:global .pointer {
  cursor: pointer;
}

:global(.dataroom-cell-banner-bg:hover){
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  background-image: url(/images/folder-solid.png);
  background-position: center;
  background-repeat: no-repeat;
}

:global(.orgbd-cell-banner-bg:hover){
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  background-image: url(/images/tasks-solid.png);
  background-position: center;
  background-repeat: no-repeat;
}

:global(.dynamic-delete-button) {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all .3s;
}
:global(.dynamic-delete-button:hover) {
  color: #777;
}
:global(.dynamic-delete-button[disabled]) {
  cursor: not-allowed;
  opacity: 0.5;
}
:global(.customized-select-component .ant-select-selection) {
  background-color: #eee;
  color: #555;
}
:global(.ant-collapse > .investarget-custom-panel.ant-collapse-item > .ant-collapse-header .ant-collapse-arrow) {
  top: 18px;
}
