
html, body, :global(#root) {
  height: 100%;
}

:global(.clearfix:before), :global(.clearfix:after) {
  content: " ";
  display: table;
}
:global(.clearfix:after) {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}

:global(.ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after) {
  display: none;
}
